body {
    background-color: rgb(43, 43, 33);
}

h1 {
    color: rgb(182, 99, 65);
    margin-left: 20px;
}

table, th, td {
    border: 1px solid gray;
}

#forms{
    color: rgb(207, 172, 115);
}
#store-table{
    color: rgb(207, 172, 115);
}